*{
    margin: 0;
    padding: 0;
    
}

.form-content {
    max-width: 44rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

}

.form-content label,
.form-content .help-text,
.errorlist {
    display: block;
    margin: .5rem 0;
    font-size: 1.4rem;
    list-style-type: none;
}

.errorlist {
    color: red
}

.form-content input {
    width: 100%;
    padding: 1rem;
    border-radius: .4rem;
    border: 1px solid rgb(250, 82, 4)
}

.form-content button {
    padding: 1rem 2rem;
    border: none;
    background: black;
    color: white;
}

.menu {
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
    z-index: 1;
}

.menu-content {
    color: rgb(255, 255, 255);
    text-align: center;
}

.plaintext-button {
    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    color: red;
}
  
@media (max-width: 600px) {
    .menu-content,
    .menu,
    .form-content-grid,
    .form-content {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}